asgiref==3.7.2
beautifulsoup4==4.12.3
contourpy==1.2.0
cycler==0.12.1
dj-database-url==2.2.0
Django==5.0.1
django-heroku==0.3.1
fonttools==4.50.0
gunicorn==23.0.0
kiwisolver==1.4.5
matplotlib==3.8.3
mysql==0.0.3
mysqlclient==2.2.1
numpy==1.26.4
packaging==24.0
pillow==10.2.0
psycopg2==2.9.9
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-decouple==3.8
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
typing_extensions==4.12.2
tzdata==2023.4
whitenoise==6.7.0
shapely==2.0.6
