<!DOCTYPE html>
<html lang="en">
<head>
  <title>DAWA MASHINANI</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  {% load static %}
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">DAWA MASHINANI</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">REPORTS<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="{% url 'search_status' %}">County Status</a></li>
          <li><a href="{% url 'search_disease' %}">Diseases in Counties</a></li>
          <li><a href="{% url 'search_pest' %}">Pests in Counties</a></li>
        </ul>
      </li>
      <li><a href="{% url 'retrieve_field_officer' %}">FIELD OFFICERS</a></li>
      <li><a href="{% url 'retrieve_county' %}">COUNTIES</a></li>
      <li><a href="{% url 'retrieve_disease' %}">DISEASES</a></li>
      <li><a href="{% url 'retrieve_pest' %}">PESTS</a></li>
      <li><a href="{% url 'retrieve_report' %}">COMPREHENSIVE REPORT</a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
      <li> <a href="{% url 'logout' %}"> <span class="glyphicon glyphicon-user"></span> Logout</a></li>
      <!-- <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
    </ul>
  </div>
</nav>

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
          <div class="card">
            <img class="card-img-top" src="{% static 'home_app/images/Loopers.jpg' %}" alt="Card image" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">Looper worms invading cabbages.</h5>
              <!-- <p class="card-text">Looper worms invading cabbages.</p> -->
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
          <div class="card">
            <img class="card-img-top" src="{% static 'home_app/images/cutworms.jpg' %}" alt="Card image" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">Crop leafs destroyed by Cut worms.</h5>
              <!-- <p class="card-text">Crop leafs destroyed by Cut worms</p> -->
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
          <div class="card">
            <img class="card-img-top" src="{% static 'home_app/images/armyworms.jpg' %}" alt="Card image" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">Army Worms infestation on maize.</h5>
              <!-- <p class="card-text">Army Worms infestation on maize.</p> -->
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
          <div class="card">
            <img class="card-img-top" src="{% static 'home_app/images/alphids.jpg' %}" alt="Card image" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">Alphids on a cherry tree.</h5>
              <!-- <p class="card-text">Looper worms invading cabbages.</p> -->
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
          <div class="card">
            <img class="card-img-top" src="{% static 'home_app/images/mice.jpg' %}" alt="Card image" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">Rodents (Mice) on grains</h5>
              <!-- <p class="card-text">Crop leafs destroyed by Cut worms</p> -->
            </div>
          </div>
        </div>
    
        <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
          <div class="card">
            <img class="card-img-top" src="{% static 'home_app/images/beetles.jpg' %}" alt="Card image" style="width:100%">
            <div class="card-body">
              <h5 class="card-title">Beetles on tomatoes.</h5>
              <!-- <p class="card-text">Army Worms infestation on maize.</p> -->
            </div>
          </div>
        </div>
      </div>      
    </div>

</body>
</html>